/*a, a:link, a:active, a:visited
{
	color: black;
	cursor: pointer;
	text-decoration: none;
}*/
body
{
	background-color: #DDDDDD;
	font-family: "segoe ui", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1280px;
}
div.table-container
{
	border: 1px solid black;
}
header
{
	background-color: #222222;
	padding: 0.5em;
}
header h1
{
	color: #7BC143;
	display: inline-block;
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	vertical-align: top;
}
form div
{
	clear: both;
	display: block;
	height: 30px;
}
form label
{
	color: black;
	float: left;
	font-weight: normal;
	width: 180px;
}
form .form-buttons
{
	text-align: right;
}
form .form-buttons .button
{
	margin: 5px;
}
form#genera-prenomina
{
	width: 380px;
}
form#genera-prenomina label
{
	width: 120px;
}
input.button
{
	background-attachment: scroll;
    background-color: #444444;
    background-image: url("../img/Square-Light-Grey/Png/24x24/Burn.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    border: 2px solid #666666;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    padding: 2px 10px 2px 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	
}
input.inputtext
{
	color: #515348;
	border: 1px solid #aaa;
	padding: 3px;
	width: 250px;
}
input.button.disabled
{
	background-color: #CCC;
	color: #666;
	font-style: italic;
}
input.button.aceptar
{
	background-image: url("../img/Square-Light-Grey/Png/24x24/Ok.png");
}
input.button.cancelar
{
	background-image: url("../img/Square-Light-Grey/Png/24x24/Cancel.png");
}
input.button.consultar
{
	background-image: url("../img/Square-Light-Grey/Png/24x24/Exclamation.png");
}
input.button.enviar
{
	background-image: url("../img/Square-Light-Grey/Png/24x24/Target.png");
}
input.button.ajax-loader
{
	background-image: url("../img/ajax-loader.gif");
	background-position: 5px 50%;
	height: 24px;
}
label
{
	color: #6EB83A;
	font-weight: bold;
}
nav
{
	background-color: #444444;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
}
nav ul li a
{
	display: block;
	padding: 0.5em 1em;
	color: white;
	text-decoration: none;
}
nav ul li a:hover
{
	background-color: #95C601;
	color: #222222;
}
nav ul ul
{
	background-color: #444444;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-moz-box-shadow: 0.3em 0.3em 8px #333;
	-webkit-box-shadow: 0.3em 0.3em 8px #333;
	box-shadow: 0.3em 0.3em 8px #333;
	display: none;
	position: relative;
	z-index: 1;
}
nav > ul ul li
{
	display: block;
}
nav > ul li:hover ul
{
	display: block;
	position: absolute;
}
select
{
	border: 1px solid #aaa;
	color: #515348;
	min-width: 208px;
	padding: 3px;
	width: 250px;
}
table
{
	border-collapse: collapse;
	clear: both;
	font-size: 0.75em;
	width: 100%;
}
table col.icon
{
	width: 25px;
}
table col.codigo
{
	width: 60px;
}
table col.nss
{
	width: 90px;
}
table col.rfc
{
	width: 140px;
}
table col.fecha
{
	width: 80px;
}
table col.monto
{
	width: 90px;
}
table th
{
	font-weight: normal;
	text-align: left;
}
table thead th
{
	background-color: #202020;
	border-right: 1px solid #666666;
	color: white;
	padding: 4px 3px;
	text-align: center;
}
table thead th:last-child
{
	border-right: none;
}
table tbody td
{
	overflow: hidden;
}

table tbody td,
table tbody th
{
	border-style: solid solid none none;
	border-color: #E3E3E3 #DDDDDD #FFF #FFF;
	border-width: 1px 1px 0 0;
	line-height: 20px;
	padding: 1px 5px;
	white-space: nowrap;
}
table tbody td.row-selector,
table tbody td.row-action
{
	padding: 0;
	width: 20px;
}
table tfoot.total
{
	background-color: black;
	color: white;
}
table tfoot.total th,
table tfoot.total td
{
	border-right: 1px solid #ccc;
	padding: 1px 5px;
	text-align: right;
}
table .numerico
{
	text-align: right;
}
table .selected
{
	background-color: #8FC400;
}
table td.editable,
table td.row-selector,
table td.row-status
{
	text-align: center;
}
table td.row-selector span,
table td.row-status span,
table td.row-action span
{
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0 0;
	background-color: transparent;
	cursor: pointer;
	display: block;
	height: 18px;
	margin: 0 auto;
	width: 16px;
}
table td .inputtext
{
	width: 98%;
}
table.inconsistencia-datos th
{
	padding: 0;
	text-align: center;
}
table.inconsistencia-datos td
{
	text-align: center;
}
ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.table-toolbar
{
	background-color: #9DD53C;
	display: block;
	font-size: 0.8em;
	height: 25px;
	width: 100%;
}
ul.table-toolbar li
{
	padding: 3px 5px;
}
ul.table-toolbar li.select-all-rows
{
	width: 20px;
}
ul.table-toolbar li.select-all-rows span
{
	cursor: pointer;
}
ul.table-toolbar .tool-option a
{
	padding: 0 8px;
}
ul.table-toolbar .tool-option a:hover
{
	text-decoration: underline;
}
ul.table-toolbar .tool-option.selected a
{
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
ul.tree ul
{
	padding-left: 20px;
	white-space: nowrap; /*Previene el salto de linea de algun item*/
}
ul.tree li
{
	line-height: 22px;
}
ul.tree .handle,
ul.tree .icon
{
	background: url("../img/tree/playback_rec.png") no-repeat scroll 0 50% transparent;
	cursor: pointer;
	height: 22px;
	float: left;
	margin-right: 5px;
	width: 16px;
}
ul.tree .closed
{
	background-image: url("../img/tree/sq_plus.png");
}
ul.tree .group
{
	cursor: pointer;
	font-weight: bold;
	padding: 2px;
}
ul.tree .icon
{
	cursor: default;
}
ul.tree .opened
{
	background-image: url("../img/tree/sq_minus.png");
}
ul.tree .text
{
	cursor: pointer;
	padding: 2px;
}
ul.tree .text.selected,
ul.tree .text.selected:hover
{
	background-color: #242424;
	color: white;
}
ul.tree .text:hover
{
	background-color: #EEEEEE;
}

.active
{
	background-image: url("../img/status/online16.png");
}
.ajax-loader
{
	background: url("../img/ajax-loader.gif") no-repeat scroll 50% 50% transparent;
	height: 16px;
}
.block
{
	border: 1px solid #9ED53E;
	margin-bottom: 20px;
}
.block-title
{
	background: url("../img/bg/block_bg.png");
	display: block;
	line-height: 30px;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}
.block .menu
{
	font-size: 0.8em;
	margin-left: 10px;
	padding: 5px 0;
}
.block-content
{
	clear: left;
	display: block;
	padding: 10px;
}
.content
{
	border: 1px solid #4E4E4E
}
.checked
{
	background-image: url("../img/controls/checkbox_checked.png");
}
.hz-menu li
{
	float: left;
}
.icon.add
{
	background-image: url("../img/famfam_silk_icons/add.png");
}
.icon.delete
{
	background-image: url("../img/famfam_silk_icons/delete.png");
}
.inactive
{
	background-image: url("../img/status/offline16.png");
}
.inconsistencias
{
	background-color: white;
	border: 1px solid #EF9D0C;
    -webkit-box-shadow: 5px 5px 5px #333;
    -moz-box-shadow: 5px 5px 5px #333;
	box-shadow: 5px 5px 0 #333;
	left: 300px;
	position: absolute;
	top: 600px;
}
.inconsistencias-content
{
	background-color: #eee;
	padding: 5px 10px;
}
.inconsistencias-content .table-container
{
	margin-top: 5px;
}
.inconsistencia-tipo
{
	background: url("../img/Coquette_Icon/png/16x16/warning.png") no-repeat scroll 0 50% transparent;
	font-size: 0.8em;
	padding-left: 20px;
}
.inconsistencias-title
{
	background-color: #EF9D0C;
	margin: 0;
	padding: 0;
	padding: 5px;
	text-align: center;
}
.lightbox
{
	background-color: white;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	left: 0;
	min-width: 300px;
	position: absolute;
	top: 0;
}
.lightbox-title
{
	background: url("../img/lightbox/title-bg.png") repeat-x scroll left top #7CBD0B;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	font-weight: bold;
	height: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
}
.lightbox-close,
.inconsistencias-close
{
	background: url("../img/lightbox/closebox.png") no-repeat scroll 0 50% transparent;
	cursor: pointer;
	height: 28px;
	position: absolute;
	right: -12px;
	top: -12px;
	width: 28px;
}
.lightbox-content
{
	padding: 20px;
}
.menu ul
{
	display: none;
}
.menu
{
	clear: both;
}
.menu .icon
{
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0 50%;
	background-color: transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 18px;
	width: 16px;
}
.menu .text
{
	cursor: pointer;
	padding: 0 5px;
}
.ok
{
	cursor: default !important;
	background-image: url("../img/Coquette_Icon/png/16x16/accept.png");
}
.options-block
{
	border-bottom: 10px double #9ED53E;
	float: left;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.overlay
{
	background-color: black;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
}
.selector-block
{
	border: 1px solid #ccc;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	float: left;
	margin: 0 5px;
	overflow: hidden;
	width: 300px;
}
.selector-block#periodos,
.selector-block#prenominas
{
	width: 310px;
}
.selector-block#opciones
{
	width: 280px;
}
.selector-content
{
	font-size: 0.8em;
	height: 150px;
	overflow: auto;
	position: relative;
}
.selector-content .overlay
{
	position: absolute;
}
.selector-title
{
	background: url("../img/bg/block_bg.png") repeat scroll 0 0 #99CC00;
	line-height: 30px;
	margin: 0;
	padding-left: 10px;	
}
.ui-widget
{
	font-size: 0.8em !important;
}
.unchecked
{
	background-image: url("../img/controls/checkbox_unchecked.png");
}
.vt-menu li
{
	display: block;
	padding: 3px 5px;
	white-space: nowrap;
}
.warning
{
	background-image: url("../img/Coquette_Icon/png/16x16/warning.png");
}
.zebra
{
	background-color: #E0F2CD;/*#DFF9C7*/
}

#configuracion a
{
	background-image: url(../img/gear/32/coquete/page_process.png);
}

#lanzamiento a
{
	background-image: url(../img/refresh/32/refresh.png);	
}
#logo
{
	display: inline-block;
}
#logo img
{
	width: 43px;
	height: 50px;
	margin-right: 1em;
}
#main
{
	background-color: white;
	margin: 0;
	padding: 0;
}
#message-console
{
	background-color: yellow;
	background-attachment: scroll;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-image: none;
	bottom: -29px;
	color: black;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: fixed;
	width: 100%;
}
#message-console #console-message
{
	margin-left: 40px;
}
#message-console #console-toggler
{
	background-color: transparent;
	background-attachment: scroll;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url("../img/arrows/16/sq_br_up.png");
	cursor: pointer;
	display: block;
	height: 16px;
	left: 8px;
	position: absolute;
	top: -16px;
	width: 16px;
}
#message-console #console-toggler.open
{
	background-image: url("../img/arrows/16/sq_br_up.png");
}
#message-console #console-toggler.close
{
	background-image: url("../img/arrows/16/sq_br_down.png");
}
#message-console.error
{
	background-color: red;
	color: white;
}
#message-console.success
{
	background-color: green;
	color: white;
}
#module-content
{
	padding: 0.5em;
}
#module-title
{
	background-color: #222222;;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px  0 5px 5px;
}
#opciones.selector-block .selector-content form
{
	padding: 10px;
}
#opciones.selector-block .selector-content form .form-buttons
{
	text-align: center;
}
#periodos.selector-block .selector-content,
#prenominas.selector-block .selector-content
{
	padding: 0 0 0 5px;
}
#periodos.selector-block .selector-content .icon.generada
{
	background-image: url("../img/cc/blacks/16x16/doc_import.png");
}
#periodos.selector-block .selector-content .icon.no-generada
{
	background-image: url("../img/cc/blacks/16x16/doc_empty.png");
}
#prenomina a
{
	background-image: url(../img/user/32/coquete/users.png);
}
#prenominas.selector-block .selector-content .icon.generada
{
	background-image: url("../img/cc/blacks/16x16/doc_lines.png");
}
#prenominas.selector-block .selector-content .icon.no-generada
{
	background-image: url("../img/cc/blacks/16x16/document.png");
}
#proyectos.selector-block .vt-menu li
{
	cursor: pointer;
	padding-left: 5px;
}
#proyectos.selector-block .vt-menu li:hover
{
	background-color: #EEEEEE;
}
#proyectos.selector-block .vt-menu li.selected
{
	background-color: #242424;
	color: white;
}
#seguridad a
{
	background-image: url(../img/security/Security_blue_32x32.png);
}
#site-wrapper
{
	min-width: 480px;
	margin: 0 auto;
}
#tabla_asistencia
{
	width: auto;
}
#tabla_asistencia td.falta
{
	background-color: #EF6B8A;
	border: 1px solid #E00035;
}
#tabla_asistencia th.dia
{
	cursor: pointer;
	width: 70px;
}
#tabla_empleados
{
	table-layout: fixed;
}
#top-menu
{
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
#top-menu li
{
	display: inline-block;
}
#top-menu li a
{
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 50%;
	background-repeat: no-repeat;
	color: #fff;
	display: block;
	line-height: 30px;
	padding: 0 1em 0 30px;
	text-decoration: none;
}
#top-menu li#salir a
{
	background-image:url(../img/exit/24/go_out.png);
}